<section class="formbody">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6">
                <h1>Education <br>Renaissance </h1>
                <div class="img-drawer">
                    <img src="../assets/images/form-left-img.png" alt="">
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="ps-5 col-lg-5">
                <div class="form-nav">
                    <ul>
                        <li>
                            <a href="#register" routerLink="/register" routerLinkActive="active">Register</a>
                        </li>
                        <li>
                            <a href="#login" routerLink="/login" routerLinkActive="active">Login</a>
                        </li>
                    </ul>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>
