.formbody{
padding:136px 0 100px 0;
}
h1{
font-size:85px;
line-height: 89px;
color: #000;
font-weight: 900;
margin-bottom: 83px;
}
.form-nav{
text-align: center;
margin-bottom: 30px; 
}
.form-nav ul{
text-align: center;
border: 3px solid #000;
padding: 0;
display: inline-block;
margin: 0 auto;
border-radius: 6px;
}
.form-nav ul li{
display: inline-block;
background: none;
padding: 0;
margin: -1px;
}
.form-nav ul li a{
padding: 7px 35px;
color: #000;
display: block;
width: 150px;
font-size: 18px;
font-weight: 600;
color: #000;
}
.form-nav ul li a.active{
background-color: #000;
color: #fff;
}
.form-head{
margin-bottom: 60px;
font-size: 19px;
line-height: 23px;
color: #040404;
text-align: center;
}
.form-head h2{
font-size: 33px;
line-height: 37px;
color: #000;
font-weight: 700;
text-align: center;
}
.form-group{
margin-bottom: 5px;
}
.form-label{
font-size: 19px;
line-height: 23px;
color: #040404;
font-weight: 700;
margin-bottom: 27px;
}
.form-control {
margin-bottom: 30px;
border: none;
border-bottom: 2px solid #000;
border-radius: 0;
padding: 5px;
height: 42px;
font-size: 18px;
line-height: 22px;
font-weight: 400;
}
.form-text{
font-size: 18px;
}
.modal-content{
border-radius: 50px;
}
.modal-header{
border-radius: 0;
border: none;
justify-content: center;
padding: 44px 54px;
}
.modal-body{
padding: 30px 54px 44px 54px;
}
h3.modal-title {
font-size: 33px;
font-weight: 700;
}
.modal-header .btn-close {
position: absolute;
top: 5px;
right: 5px;
background-color: #fff;
opacity: 1;
border-radius: 50%;
border: 2px solid #2d2d2d;
}
.checkmark__circle {
stroke-dasharray: 166;
stroke-dashoffset: 166;
stroke-width: 2;
stroke-miterlimit: 10;
stroke: #7ac142;
fill: none;
animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
width: 56px;
height: 56px;
border-radius: 50%;
display: block;
stroke-width: 2;
stroke: #fff;
stroke-miterlimit: 10;
margin:5% auto 5%;
box-shadow: inset 0px 0px 0px #7ac142;
animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
transform-origin: 50% 50%;
stroke-dasharray: 48;
stroke-dashoffset: 48;
animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
@media (min-width: 576px){
.modal-dialog {
max-width: 580px;
}
}
.invalid-feedback {
color: #fff;
position: relative;
bottom: 14px;
left: 0;
font-size: 13px;
background: red;
width: auto;
padding: 0 5px;
line-height: 18px;
border-radius: 3px;
}
#successModal p.success {
font-size: 22px;
font-weight: 600;
text-transform: capitalize;
}
.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
border-color:green;
box-shadow:none;
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
border-color: red;
box-shadow:none;
}
#successModal .modal-header {
padding: 0;
}
@media (max-width: 850px){
.formbody{
padding: 50px 0;
}
}
@media (max-width: 600px){
.img-drawer{
display: none;
}
h1{
font-size: 40px;
line-height: 44px;
margin-bottom: 30px;
text-align: center;
}
.form-head h2 {
font-size: 20px;
line-height: 24px;
color: #000;
font-weight: 700;
text-align: center;
}
.form-head {
margin-bottom: 30px;
font-size: 16px;
line-height: 23px;
color: #040404;
text-align: center;
}
.form-nav ul li a{
width: 130px;
}
.form-control{
margin-bottom: 10px;
font-size: 14px;
line-height:18px;
}
.form-label{
margin-bottom: 10px;
margin-top: 10px;
}
.form-group.pt-sm-4 {
margin-top: 25px;
}
.modal-header {
padding: 20px 24px 20px;
}
h3.modal-title{
font-size: 20px;
font-weight: 700;
line-height: 24px;
}
.modal-body {
padding: 0 24px 20px;
}
.modal-body .btn-primary {
padding: 7px 20px 7px;
min-width: 200px;
}
.modal-content{
border-radius: 10px;
}
.invalid-feedback{
bottom: 4px;
}
}