

<section class="formbody">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6">
                <h1>Education <br>Renaissance </h1>
                <div class="img-drawer">
                    <img src="./assets/images/form-left-img.png" alt="">
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="ps-lg-5 pt-md-5 col-lg-5">
                <div class="form-nav">
                    <ul>
                        <li>
                            <a href="#register" routerLink="/register" routerLinkActive="active">Register</a>
                        </li>
                        <li>
                            <a href="#login" routerLink="/login" routerLinkActive="active">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="register-form-outer">
                    <div class="form-head">
                        <h2>Login to your account</h2>
                        <div *ngIf="isUserLoggedInError"
										class="mt-4 d-block invalid-feedback">
										Invalid Credentials.
                        </div>
                    </div>
                    <div class="form-body">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="" class="form-label">User credentials</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="email" formControlName="email" placeholder="Email address*" class="form-control" [class.is-invalid]="f.email.touched && f.email.invalid" [class.is-valid]="f.email.touched && f.email.valid">
                                        <div *ngIf="f.email.invalid && f.email.touched">
                                            <div *ngIf="f.email.errors?.required" class="d-block invalid-feedback">Email address is required.</div>
                                            <div *ngIf="f.email.errors?.email" class="d-block invalid-feedback">Invalid Email address</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="password" [class.is-invalid]="f.password.invalid && f.password.touched" [class.is-valid]="f.password.touched && f.password.valid" formControlName="password" placeholder="Password*" class="form-control">
                                        <div *ngIf="f.password.invalid && f.password.touched">
                                            <div *ngIf="f.password.errors?.required" class="d-block invalid-feedback">Password is required.</div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input *ngIf="!submitted" type="submit" value="Submit" class="btn btn-primary">
                                        <button *ngIf="submitted" class="btn btn-primary" type="button" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Submit
                                          </button>
                                        <div class="form-text text-center mt-3">Forgot password? <a href="#">Reset</a></div>
                                        <div class="form-text text-center mt-3">New user? <a href="#register" routerLink="/register">Register new account</a></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
