<div class="body-slide dashboard-container dashboard-theme-gray body-tabs-shadow fixed-sidebar fixed-header" id="wrapper" [ngClass]="status ? 'hide' : 'show'">
    <header class="dashboard-header fixed-top">
       
        <div class="container-fluid px-lg-5 px-md-2">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a class="btn border-0" id="menu-btn" (click)="clickDashboardSidebar()">
                        <div class="menu-open"><img src="./assets/images/menu_hamburger_navigation_icon.svg"></div>
                        <div class="menu-close"><img src="./assets/images/close_cancel_cross_delete_exit_icon.svg"></div>
                    </a>
                </div>
                <div class="col-md-8 col-sm-8">   
                    <div class="dashboard-user-outer d-flex align-items-center justify-content-end">
                        <div class="user-name me-3">Welcome SM</div>
                        <div class="user-profile-img me-3"><img src="./assets/images/profile-img.png"></div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="./assets/images/downarrow.png">
                            </a>
                          
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="dashboard-main" id="page-content-wrapper">
        <aside class="dashboard-sidebar dashboard-shadow side-navbar active-nav" id="sidebar-wrapper">
           
                <div class="dashboard-sidebar_inner">
                    <h1 class="logo">Education <br>Renaissance </h1>
                    <div class="dashboard-menu">
                        <ul class="navbar-nav w-100 pb-3">
                            <li><a href="#student-progress" routerLink="student-progress"><span><img src="./assets/images/progress_nav_ico.svg"></span>Student Progress</a></li>
                            <li><a href="#completed-classes" routerLink="completed-classes"><span><img src="./assets/images/comclass_nav_ico.svg"></span>Completed Classes</a></li>
                            <li><a href="#class-selection" routerLink="class-selection"><span><img src="./assets/images/selection_nav_ico.svg"></span>Class Selection</a></li>
                        </ul>
                    </div>
                </div>
            
        </aside>
        <div class="dashboard-main-outer overflow-auto vw-100 active-cont">
            <div class="dashboard-main-inner">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div [class.overlayVisited] = "overlayIsVisited == true" (click) = "overlayCheckVisited()" class="overley" id="overley"></div>
</div>


