.dashboard-theme-gray{
background: #E0E0E0;
}
.dropdown-toggle::after{
display: none;
}
.dashboard-header{
background-color: #fff;
padding: 8px 0;
margin-left: 317px;
}
.dashboard-container {
display: flex;
min-height: 100vh;
flex-direction: column;
margin: 0;
}
.dashboard-main {
padding-top: 60px;
}
.dashboard-main {
flex: 1;
display: flex;
position: relative;
}
.dashboard-main .dashboard-main-outer {
flex: 1;
flex-direction: column;
display: flex;
z-index: 12;
}
.fixed-sidebar .dashboard-main .dashboard-main-outer{
z-index: 9;
padding-left: 317px;
}
.dashboard-sidebar {
width: 317px;
display: flex;
z-index: 999999;
overflow: hidden;
min-width: 280px;
position: relative;
flex: 0 0 317px;
margin-top: -60px;
padding-top: 30px;
transition: all .2s;
background-color: #000;
}
.fixed-sidebar .dashboard-sidebar {
position: fixed;
height: 100vh;
}
h1.logo {
padding: 0 37px 65px;
font-size: 36px;
color: #fff;
line-height: 40px;
text-align: left;
font-weight: 900;
-webkit-transition: font-size .25s ease-out;
-moz-transition: font-size .25s ease-out;
-o-transition: font-size .25s ease-out;
transition: font-size .25s ease-out;
}
.dashboard-menu ul{
padding: 0;
font-size: 17px;
line-height: 21px;
color: #fff;
}
.dashboard-menu ul li{
background: none;
display: block;
padding: 0;
}
.dashboard-menu ul li a{
display: block;
border-bottom: 1px solid #2F2F2F;
padding: 12px 30px 10px 30px;
color: #fff;
}
.dashboard-menu ul li a:hover,
.dashboard-menu ul li a.active{
background-color: #333;
}
.dashboard-menu ul li a span{
display: inline-block;
vertical-align: bottom;
margin-right: 15px;
width: 25px;
}
.dashboard-menu ul li a span img{
width: 25px;
}
.dropdown a.dropdown-toggle {
display: block;
padding: 10px 0;
}
.dropdown-menu li{
background: none;
padding: 0;
}
.dropdown-menu li a{
display: block;
border-bottom: 1px solid #686868;
padding: 8px 20px 7px 20px;
color: #fff;
}
.dropdown-menu li:last-child a{
border-bottom: none;
}
.dropdown-menu li a:hover{
background-color: #000;
color: #fff;
}
#wrapper {
min-height: 100vh;

-webkit-transition: left .25s ease-out;
-moz-transition: left .25s ease-out;
-o-transition: left .25s ease-out;
transition: left .25s ease-out;
}
.dashboard-header {
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;  
}
.dashboard-main .dashboard-main-outer {
-webkit-transition: padding .25s ease-out;
-moz-transition: padding .25s ease-out;
-o-transition: padding .25s ease-out;
transition: padding .25s ease-out;  
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}
#menu-btn .menu-open,
#menu-btn .menu-close{
width: 30px;
border: 2px solid #000;
}
.show #menu-btn .menu-open, .hide #menu-btn .menu-close{
display: block;
}
.hide #menu-btn .menu-open, .show #menu-btn .menu-close{
display: none;
}
.dashboard-sidebar_inner {
width: 100%;
}
.modal-content{
border-radius: 50px;
}
#videosModal .btn.btn-danger.btn-close,
#timeModal .btn.btn-danger.btn-close {
width:100px;
height: auto;
background: #F4585B;
color: #fff;
opacity: 1;
margin: 60px auto;
display: block;
padding: 6px 20px 8px 20px;
border-radius: 30px;
font-weight: 600;
font-size: 18px;
}
#videosModal .btn.btn-danger.btn-close:hover,
#timeModal .btn.btn-danger.btn-close:hover {
color: #fff;
background-color: #bb2d3b;
border-color: #b02a37;
}
#timeModal .btn.btn-primary {
width: 140px;
height: auto;
margin: 60px 5px;
display: block;
padding: 6px 20px 8px 20px;
border-radius: 30px;
font-weight: 600;
font-size: 18px;
min-width: 140px;
}
.modal-open {
padding: 0 !important;
}
.modal-backdrop{
z-index: 999999;
}
.modal{
z-index: 9999999;
}
#timeModal .modal-header {
width: 100%;
border: none;
margin-bottom: 20px;
}
#timeModal .modal-body {
padding: 50px;
}
#timeModal h2{
text-align: center;
width: 100%;
}
#timeModal .time-count {
text-align: center;
margin-bottom: 30px;
}
#timeModal .time-count span {
font-size: 114px;
line-height: 114px;
display: inline-block;
font-weight: 800;
color: #39F;
}
#timeModal .time-count em {
color: #4F4F4F;
font-size: 18px;
font-style: normal;
display: block;
font-weight: 400;
line-height: 22px;
}
#timeModal .time-txt {
font-size: 18px;
text-align: center;
line-height: 22px;
}
#timeModal .btn.btn-danger.btn-close,
#timeModal .btn.btn-primary {
display: inline-block;
margin:40px 5px 20px 5px;
}
@media (min-width: 1200px) {
  
#sidebar-wrapper {
margin-left: 0;
}

#page-content-wrapper {
min-width: 0;
width: 100%;
}
.show
{
margin-left: 0!important;
}
.hide .dashboard-sidebar
{
min-width: 80px;
width: 80px;
}
.hide .dashboard-header{
margin-left: 80px!important;
}
.hide.fixed-sidebar .dashboard-main .dashboard-main-outer{
padding-left: 80px;
}
.hide .dashboard-menu ul li a{
font-size: 0;
line-height: 0;
}
.hide h1.logo {
font-size: 10px;
line-height: 14px;
text-align: center;
padding: 20px 5px;
}
}
@media (max-width: 1200px) {
.show #sidebar-wrapper{
left: -317px !important;
}
.hide #sidebar-wrapper{
left: 0 !important;
}
.dashboard-header{
margin-left: 0;
}
.fixed-sidebar .dashboard-main .dashboard-main-outer{
z-index: 9;
padding-left: 0;
}
.overley {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(000, 000, 000, .6);
display: none;
z-index: 9991;
}
.hide .overley{
display: block;
}
}
@media (max-width: 1000px) {
#page-content-wrapper {
min-width: 100%;
}
}
@media (max-width: 600px){
.dashboard-header .col-sm-4{
width: 30%;
}
.dashboard-header .col-sm-8{
width: 70%;
}
.dashboard-header .user-name.me-3 {
margin-right: 10px !important;
font-size: 14px;
}
}
@media (max-width: 360px){
.dashboard-sidebar{
width: 200px;
}
h1.logo{
font-size: 26px;
}
}
@media (min-width: 576px){
.modal-dialog {
max-width: 580px;
justify-content: center;
flex-direction: column;
}
}