<div class="dashboard-container dashboard-theme-gray body-tabs-shadow fixed-sidebar fixed-header">
    <header class="dashboard-header fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-user-outer d-flex align-items-center justify-content-end">
                        <div class="user-name me-3">Welcome SM</div>
                        <div class="user-profile-img me-3"><img src="../assets/images/profile-img.png"></div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../assets/images/downarrow.png">
                            </a>
                          
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="dashboard-main">
        <div class="dashboard-sidebar dashboard-shadow">
            <div class="dashboard-sidebar_inner">
                <h1 class="logo">Education <br>Renaissance </h1>
                <div class="dashboard-menu">
                    <ul>
                        <li><a href="#"><img src="../assets/images/dashborad-menu-shape1.png">Student Progress</a></li>
                        <li><a href="#"><img src="../assets/images/dashborad-menu-shape2.png">Completed Classes</a></li>
                        <li><a href="#"><img src="../assets/images/dashborad-menu-shape3.png">Class Selection</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboard-main-outer">
            <div class="dashboard-main-inner">

            </div>
        </div>
    </div>
</div>
