<!--time modal-->
<div class="modal fade" id="timeModal" tabindex="-1" aria-labelledby="timeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <div class="modal-header">
                <h2>The next segment<br> is about to begin.</h2>
              </div>
			<div class="time-box">
                <div class="time-count">
                    <h3>
                        <span>03:<em>min.</em></span>
                        <span>00<em>sec.</em></span>
                    </h3>
                </div>
                <div class="time-txt">
                    <p>Click OK to start now -- or it will start automatically in 3 minutes. 
                        If you need more time before the start of the next segment, 
                        click STOP and return later through the Student Progress page.</p>
                </div>
            </div>
            <div class="text-center">
                <button #timeModal type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-danger btn-close">Stop</button>
                <a #timeModal type="button" class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#assesmentqtypeOneModal">Ok</a>
            </div>
		 </div>
	</div>
	</div>
	</div>

<!--Assesment modal-->
<div class="modal fade" id="assesmentqtypeOneModal" tabindex="-1" aria-labelledby="assesmentqtypeOneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <div class="modal-header">
                <h2>Assessment Questions</h2>
                <h3>Question 1 of 10</h3>
                <div class="hdr-rgt">
                    <span class="time">60<em>sec.<br>Remaining</em></span>
                </div>
              </div>
			<div class="question-box">
                <h4>Bob’s favorite color</h4>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">Blue</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">Red</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                    <label class="form-check-label" for="flexRadioDefault3">Yellow</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                    <label class="form-check-label" for="flexRadioDefault4">Orange</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Red</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">Blue</label>
                  </div>
            </div>
            <div class="mt-5 center">
                <button #assesmentqtypeOneModal type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-primary btn-sm btn-close">Submit</button>
            </div>
		 </div>
	</div>
    </div>
</div>

<div class="body-slide dashboard-container dashboard-theme-gray body-tabs-shadow fixed-sidebar fixed-header" id="wrapper" [ngClass]="status ? 'hide' : 'show'">
    <header class="dashboard-header fixed-top">
       
        <div class="container-fluid px-lg-5 px-md-2">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a class="btn border-0" id="menu-btn" (click)="clickDashboardSidebar()">
                        <div class="menu-open"><img src="./assets/images/menu_hamburger_navigation_icon.svg"></div>
                        <div class="menu-close"><img src="./assets/images/close_cancel_cross_delete_exit_icon.svg"></div>
                    </a>
                </div>
                <div class="col-md-8 col-sm-8">   
                    <div class="dashboard-user-outer d-flex align-items-center justify-content-end">
                        <div class="user-name me-3">Welcome SM</div>
                        <div class="user-profile-img me-3"><img src="./assets/images/profile-img.png"></div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="./assets/images/downarrow.png">
                            </a>
                          
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                              <!--<li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                            </ul>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="dashboard-main" id="page-content-wrapper">
        <aside class="dashboard-sidebar dashboard-shadow side-navbar active-nav" id="sidebar-wrapper">
           
                <div class="dashboard-sidebar_inner">
                    <h1 class="logo">Education <br>Renaissance </h1>
                    <div class="dashboard-menu">
                        <ul class="navbar-nav w-100 pb-3">
                            <li><a href="#student-progress" routerLink="student-progress"><span><img src="./assets/images/progress_nav_ico.svg"></span>Student Progress</a></li>
                            <li><a href="#completed-classes" routerLink="completed-classes"><span><img src="./assets/images/comclass_nav_ico.svg"></span>Completed Classes</a></li>
                            <li><a href="#class-selection" routerLink="class-selection"><span><img src="./assets/images/selection_nav_ico.svg"></span>Class Selection</a></li>
                        </ul>
                    </div>
                </div>
            
        </aside>
        <div class="dashboard-main-outer overflow-auto vw-100 active-cont">
            <div class="dashboard-main-inner">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div [class.overlayVisited] = "overlayIsVisited == true" (click) = "overlayCheckVisited()" class="overley" id="overley"></div>
</div>


